<!-- Top Header -->
<!-- Pre-header -->
<div
  class="pre-header px-3 d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center">
  <!-- Brand -->
  <div class="d-none d-md-flex align-items-center mb-md-0">
    <img src="assets/images/logo.png" alt="OMNI" class="p-3" />
  </div>

  <!-- Info Items (Desktop) -->
  <div class="d-none d-md-flex gap-4 align-items-center ms-auto position-relative" style="margin-right: 7%;">
    <div *ngFor="let item of infoItems" class="d-flex align-items-center gap-2">
      <img [src]="item.icon" alt="icon" class="icon" />

      <ng-container *ngIf="item.route; else desktopText">
        <a [routerLink]="item.route" routerLinkActive="active-info-link" class="text-decoration-none text-dark">
          <div>{{ item.title }}</div>
        </a>
      </ng-container>

      <ng-template #desktopText>
        <div class="text-dark">
          <ng-container *ngIf="item.title === '888 0101 000'; else plainText">
            <a href="tel:8880101000" class="text-decoration-none text-dark">
              <div>{{ item.title }}</div>
            </a>
          </ng-container>
          <ng-template #plainText>
            <div>{{ item.title }}</div>
          </ng-template>
        </div>
      </ng-template>


      <ng-template #desktopText>
        <div class="text_dark">
          <div class="">{{ item.title }}</div>
          <!-- <small *ngIf="item.subtitle">{{ item.subtitle }}</small> -->
        </div>
      </ng-template>
    </div>

    <!-- Border line only -->
    <div style="
      position: absolute;
      bottom: 0;
      right: 0;
      width: 1180px;
      border-bottom: 1px solid #666666;
      bottom: -8px;
    "></div>
  </div>



  <!-- Info Grid (Mobile only) -->
  <div class="d-md-none w-100 ">
    <div class="mobile-info-grid d-flex align-items-center justify-content-between px-2 py-2">
      <!-- Logo -->
      <div class="logo-container">
        <img src="assets/images/logo.png" alt="OMNI" style="height: 50px;" />
      </div>

      <!-- Icons -->
      <div class="icons-container d-flex align-items-center justify-content-center flex-grow-1 gap-2">
        <div *ngFor="let item of infoItems" class="info-box">
          <ng-container *ngIf="item.title === '888 0101 000'; else regularIcon">
            <a href="tel:8880101000">
              <img [src]="item.icon" [ngClass]="item.id !== 4 ? 'icon' : 'nhbl_icon'" alt="Call icon" />
            </a>
          </ng-container>
          <ng-template #regularIcon>
            <img [src]="item.icon" [ngClass]="item.id !== 4 ? 'icon' : 'nhbl_icon'" alt="icon"
              *ngIf="item.title !== 'Book Appointment'" />
          </ng-template>
        </div>
      </div>


      <!-- Hamburger -->
      <div class="hamburger-container">
        <button class="hamburger-btn" (click)="toggleMobileMenu()">
          <span *ngIf="!mobileMenuOpen">&#9776;</span> <!-- Hamburger -->
          <span *ngIf="mobileMenuOpen">&times;</span> <!-- Cross -->
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white px-3 py-2 d-none d-md-block"
  style="box-shadow: 0px 4px 4px 0px #00000040;">
  <div class="container px-0">
    <div class="collapse navbar-collapse pb-3" id="mainNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngFor="let item of navItems" [class.dropdown]="item.children"
          [class.show]="hoveredItem === item.key" (mouseenter)="hoveredItem = item.key"
          (mouseleave)="hoveredItem = null">
          <a *ngIf="item.route" class="nav-link" [routerLink]="item.route" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" (click)="setActive(item.key)">
            <ng-container *ngIf="item.key === 'home'">
              <img src="assets/icons/home_page_btn.svg" class="me-1" alt="" width="25px" height="25px" />
            </ng-container>
            {{ item.label }}
          </a>
          <a *ngIf="!item.route && item.modalTarget" class="nav-link" [attr.data-bs-toggle]="'modal'"
            [attr.data-bs-target]="item.modalTarget" [ngClass]="{ 'active': activeTab === item.key }"
            (click)="setActive(item.key)">
            {{ item.label }}
          </a>

          <!-- Submenu -->
          <ul class="dropdown-menu p-3 mega-menu" *ngIf="item.children && hoveredItem === item.key">
            <div class="row">
              <div class="col-md-6" *ngFor="let child of item.children">
                <a class="dropdown-item py-2 border-bottom" (click)="onChildClick(item.key, child.id)">
                  {{ child.label }}
                </a>
              </div>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Mobile Slide Menu -->
<div class="mobile-menu navbar-collapse" [class.open]="mobileMenuOpen">
  <div class="mobile-menu-header d-flex justify-content-end p-2">
    <button class="close-btn" (click)="closeMobileMenu()">&times;</button>
  </div>

  <ul class="navbar-nav">
    <li class="nav-item" *ngFor="let item of navItems">
      <a *ngIf="item.route" class="" [routerLink]="item.route" (click)="closeMobileMenu()">
        <ng-container *ngIf="item.key === 'home'">
          Home
          <!-- <img src="assets/icons/home_page_btn.svg" class="me-1" alt="" width="25px" height="25px" /> -->
        </ng-container>
        {{ item.label }}
      </a>
      <a *ngIf="!item.route && item.modalTarget" class="" [attr.data-bs-toggle]="'modal'"
        [attr.data-bs-target]="item.modalTarget" (click)="closeMobileMenu()">
        {{ item.label }}
      </a>
    </li>
  </ul>
</div>

<!-- Our Branches modal -->
<ng-container>
  <div class="modal fade" id="branchesModal" tabindex="-1" aria-labelledby="branchesModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="row pt-4">
          <div class="col-md-11 col-11 col-sm-10 col-xs-10 d-flex align-items-center justify-content-center">
            <div class="line line-left ms-5"></div>
            <div class="">
              <span class="title_text text-center px-2">Our Branches</span>
            </div>
            <div class="line line-right"></div>
          </div>
          <div class="col-md-1 col-1 d-flex col-sm-2 col-xs-2 align-items-center justify-content-start p-0 m-0">
            <button class="" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row g-3">
              <div class="col-6 col-md-4" *ngFor="let details of locations_details; index as l">
                <div class="text-center" (click)="routeToLocation(details['location_name'], details['img'])">
                  <img src="assets/locations/{{details['img']}}" alt="Kothapet">
                  <p class="border_prop py-2">{{details['location_name']}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- Our Branches modal -->

<ng-container>

  <div class="modal fade custom-modal" id="bookanappointment" tabindex="-1" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title-container">
            <div class="line line-left"></div>
            <span class="px-2 book_text">BOOK AN APPOINTMENT</span>
            <div class="line line-right"></div>
          </div>
          <button type="button" class="btn-close btn_close" data-bs-dismiss="modal"></button>
        </div>


        <div class="form-container rounded">
          <form>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="fullName" placeholder=" " required>
              <label for="fullName" class="ps-0">Full Name</label>
            </div>

            <div class="form-floating mb-3">
              <input type="tel" class="form-control" id="phoneNumber" placeholder=" " required>
              <label for="phoneNumber" class="ps-0">Phone Number</label>
            </div>

            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" placeholder=" " required>
              <label for="email" class="ps-0">Email ID</label>
            </div>

            <div class="mb-3 select-container">
              <select class="form-control ps-0" id="location" (click)="locationToggle(1)">
                <option value="" disabled selected>Location</option>
                <option value="Hyderabad">Hyderabad</option>
                <option value="Bangalore">Bangalore</option>
                <option value="Mumbai">Mumbai</option>
              </select>
              <img src="assets/images/{{direction_icon?'down_icon.svg':'up_icon.svg'}}" class="select-icon"
                id="location-icon">
            </div>

            <div class="mb-3 select-container">
              <select class="form-control ps-0" id="department" (click)="locationToggle(2)">
                <option value="" disabled selected>Department</option>
                <option value="Cardiology">Cardiology</option>
                <option value="Neurology">Neurology</option>
                <option value="Orthopedics">Orthopedics</option>
              </select>
              <img src="assets/images/{{depertment_icon?'down_icon.svg':'up_icon.svg'}}" class="select-icon"
                id="location-icon">
            </div>
          </form>
        </div>
        <button type="submit" class="btn btn-outline-dark submit-btn">Submit</button>
      </div>
    </div>
  </div>
</ng-container>

<!---------- Side Fixed Buttons ------------>
<div class="fixed_buttons d-none d-md-flex">
  <div class="side_button bg_green" (click)="goToBookAnAppointment()">
    <img src="assets/images/book_an_appointment.png" alt="appointment icon" />
    <span class="fw-medium" style="font-size:10px">BOOK AN <br> APPOINTMENT</span>
  </div>
  <div class="side_button bg_blue">
    <img src="assets/images/call_icon.png" alt="call icon" />
    <a href="tel:8880101000" style="text-decoration: none; color: inherit;"><span class="fw-medium" style="font-size:10px">CALL FOR <br> ENQUIRY</span></a>
  </div>
</div>