.footer {
  background: linear-gradient(90deg, #008FD5 0%, #0F9DCC 100%);
  color: #fff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-family: 'Roboto', sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 50px 60px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
}

.footer-heading {
  font-weight: bold;
  margin-bottom: 12px;
}

.footer-desc {
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-contact {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 15px 0;
}

.logo {
  max-width: 230px;
  margin-bottom: 10px;
}

.nabh-logo {
  max-width: 90px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 0;
}

.footer-social {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.footer-social img {
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

.footer-social img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
  flex-wrap: wrap; 
}

.footer-bottom a {
  color: #000;
  text-decoration: underline;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px 20px;
  }
}

@media (max-width: 576px) {
  .footer-container {
    grid-template-columns: 1fr;  /* stack all columns */
    gap: 20px;
    padding: 20px 15px;
  }


  .footer-col ul {
    padding-left: 0; /* remove extra indentation */
  }

  .footer-col ul li {
    font-size: 13px;
  }

  .logo, .nabh-logo {
    margin: 0 auto 10px auto;
    display: block;
  }

}


.side_button {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  gap: 10px;
}

.side_button img {
  width: 20px;
  height: 20px;
  transform: rotate(-180deg);
}

.bg_green {
  background-color: #70bf45;
  color: #f1f1f1 !important;
  letter-spacing: 1px;
  padding: 5px 20px;
  border-bottom-right-radius: 5px;
}

.bg_blue {
  background-color: rgba(15, 157, 204, 1);
  border-top-right-radius: 5px;
  color: #f1f1f1 !important;
  letter-spacing: 1px;
  padding: 5px 20px;
}