<footer class="footer">
  <div class="footer-container">
    <!-- Left Column -->
    <div class="footer-col">
      <div class="d-flex justify-content-start">
        <img src="assets/icons/Omni_Logo_White.png" alt="OMNI Logo" class="logo" />
        <img src="assets/icons/nabh_patient_safety_and_quality_of care_.svg" alt="NABH Logo" class="nabh-logo ms-3" />
      </div>
      <p class="footer-desc">
        Omni Hospitals is a leading multi-specialty healthcare provider in Andhra Pradesh and Telangana,
        known for expert care, advanced infrastructure, and a patient-first approach.
      </p>

      <div><img src="assets/icons/horizontal_bar.png" alt=""></div>
      <div class="mt-3">
        <h6 class="fw-bold mb-3"> <img class="me-2" src="assets/icons/right_arrow.svg" alt="" width="18"> Contact Us
        </h6>
        <p class="mb-1"><img src="assets/icons/call.png" alt=""> We're here for you 24×7.<br>088801 01000</p>
        <p class="mb-1"><img src="assets/icons/email.png" alt=""> Email us at<br>{{email}}</p>
        <div class="d-flex gap-3 pt-3">
          <!-- <div class="d-flex gap-2 text_center"> -->
          <a href="https://www.facebook.com/INCORHospitals" target="_blank"> <img
              [src]="hoveredIcon === 'fb' ? 'assets/images/social_media/facebook.svg':'assets/icons/fac_white.svg' "
              alt="Facebook" (mouseenter)="hoveredIcon = 'fb'" (mouseleave)="hoveredIcon = ''" class="img-fluid"
              style="width: 30px; height: 30px;"></a>

          <a href="https://x.com/INCORHospitals" target="_blank"> <img
              [src]="hoveredIcon === 'tw' ? 'assets/images/social_media/cross_icon.svg':'assets/icons/twite_white.svg' "
              alt="Twitter" (mouseenter)="hoveredIcon = 'tw'" (mouseleave)="hoveredIcon = ''" class="img-fluid"
              style="width: 30px; height: 30px;">
          </a>
          <a href="https://www.instagram.com/omni_hospital/" target="_blank"> <img
              [src]="hoveredIcon === 'ig' ? 'assets/images/social_media/instagram.svg':'assets/icons/inst_white.svg' "
              alt="Instagram" (mouseenter)="hoveredIcon = 'ig'" (mouseleave)="hoveredIcon = ''" class="img-fluid"
              style="width: 30px; height: 30px;">
          </a>
          <a href="https://www.youtube.com/channel/UCLaU7cDfvVTbh4PO6GDI0ew" target="_blank"><img
              [src]="hoveredIcon === 'yt' ? 'assets/images/social_media/youtube.svg':'assets/icons/you_white.svg' "
              alt="YouTube" (mouseenter)="hoveredIcon = 'yt'" (mouseleave)="hoveredIcon = ''" class="img-fluid"
              style="width: 30px; height: 30px;"></a>
          <a href="https://www.linkedin.com/company/30885967/admin/dashboard/" target="_blank"> <img
              [src]="hoveredIcon === 'ln' ? 'assets/images/social_media/linkedin.svg':'assets/icons/link_white.svg' "
              alt="LinkedIn" (mouseenter)="hoveredIcon = 'ln'" (mouseleave)="hoveredIcon = ''" class="img-fluid"
              style="width: 30px; height: 30px;">
          </a>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <!-- Center of Excellence -->
    <div class="footer-col">

      <h6 class="footer-heading"><img class="me-2" src="assets/icons/right_arrow.svg" alt="" width="18">Center Of
        Excellence</h6>
      <ul class="ms-4">
        <li>Anaesthesiology</li>
        <li>Critical Care</li>
        <li>Emergency Care</li>
        <li>ENT</li>
        <li>Gastroenterology</li>
        <li>General Surgery</li>
        <li>Internal Medicine</li>
        <li>Nephrology & Urology</li>
        <li>Neurology & Neuro Surgery</li>
        <li>Obstetrics & Gynaecology</li>
        <li>Oncology</li>
        <li>Orthopedics</li>
        <li>Paediatrics & Neonatology</li>
        <li>Plastic & Cosmetic Surgery</li>
        <li>Psychiatry</li>
        <li>Pulmonology</li>
        <li>Radiology</li>
        <li>Vascular Surgery</li>
      </ul>
    </div>

    <!-- Our Hospitals & Patient Services -->
    <div class="footer-col">
      <h6 clsass="footer-heading"><img class="me-2" src="assets/icons/right_arrow.svg" alt="" width="18">Our Hospitals
      </h6>
      <ul>
        <li>OMNI Hospitals, Kukatpally</li>
        <li>UDAI OMNI Hospitals, Chapel Road</li>
        <li>OMNI Hospitals, Kothapet</li>
        <li>OMNI Hospitals, Vizag</li>
        <li>OMNI Hospitals, Kurnool</li>
        <li>Giggles by OMNI, Vizag</li>
      </ul>

      <div><img src="assets/icons/horizontal_bar.png" alt=""></div>

      <h6 class="footer-heading"><img class="me-2" src="assets/icons/right_arrow.svg" alt="" width="18">Patient Services
      </h6>
      <ul class="ms-4">
        <li>Request an appointment</li>
        <li>International Patients</li>
        <li>Feedback</li>
        <li>Blogs</li>
        <li>News</li>
      </ul>
    </div>

    <!-- For Patients & Enquiry -->
    <div class="footer-col">
      <h6 class="footer-heading"><img class="me-2" src="assets/icons/right_arrow.svg" alt="" width="18">For Patients
      </h6>
      <ul class="ms-4">
        <li>About us</li>
        <li>Find a Doctor</li>
        <li>Our Branches</li>
        <li>Book Appointment</li>
        <li>Facilities</li>
      </ul>

      <div><img src="assets/icons/horizontal_bar.png" alt=""></div>

      <h6 class="footer-heading"><img class="me-2" src="assets/icons/right_arrow.svg" alt="" width="18">Enquiry</h6>
      <ul class="ms-4">
        <li>Careers</li>
        <li>Contact Us</li>
        <li>Insurance & Billing</li>
        <li>International Patient Service</li>
      </ul>
    </div>
  </div>

  <!-- Bottom Strip -->
  <div class="footer-bottom">
    <p>© 2025 Incor Hospitals Pvt Ltd</p>
    <div class="footer-links">
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Disclaimer</a>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center gap-5 py-2 d-md-none"
    style="background-color: #bae87aa1;">
    <div class="side_button bg_green" (click)="goToBookAnAppointment()">
      <img src="assets/images/book_an_appointment.png" alt="appointment icon" />
      <span class="fw-medium" style="font-size:10px">BOOK AN <br> APPOINTMENT</span>
    </div>
    <div class="side_button bg_blue">
      <img src="assets/images/call_icon.png" alt="call icon" />
      <a href="tel:8880101000" style="text-decoration: none; color: inherit;"><span class="fw-medium"
          style="font-size:10px">CALL FOR <br> ENQUIRY</span>
      </a>
    </div>
  </div>

</footer>