<app-header></app-header>
<section class="bg_blue">
  <div class="container">
    <div class="d-flex gap-3 ps-lg-3 py-5 justify-content-center justify-content-sm-start">
      <button class="btn_style" [ngClass]="selected_btn==1 ? 'active_bg' : ''" (click)="onSelection(1)">Blogs</button>
      <button class="btn_style" [ngClass]="selected_btn==2 ? 'active_bg' : ''" (click)="onSelection(2)">Videos</button>
    </div>
  </div>
  <div class="container pb-5" *ngIf="selected_btn==1">
    <h3 class="section_title p-0 text-center mb-4">
      <span class="decor"></span>
      BLOGS
      <span class="decor right"></span>
    </h3>
    <div class="row g-4">
      <div class="col-12 col-md-8 col-lg-9">
        <div class="row g-4">
          <div class="col-lg-4 col-md-6 col-12" *ngFor="let blog of displayedBlogs">
            <div class="card h-100 shadow-sm rounded-4 overflow-hidden">
              <div class="position-relative">
                <img [src]="blog.image" class="card-img-top" alt="blog image">
              </div>
              <div class="card-body" (click)="goToBlogDetails(blog['title'])">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text m-0 clamp">{{ blog.description }}</p>
                <p class="text-dark fw-medium mt-0 date_txt m-0 mt-1">{{ blog.date }}</p>
                <a class="read-more-btn" (click)="goToBlogDetails(blog['title'])">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination-container" *ngIf="totalPages > 1">
          <ul class="custom-pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <button class="page-link" (click)="goToPage(1)">
                <i class="bi bi-chevron-double-left"></i>
              </button>
            </li>
            <li class="page-item" [class.disabled]="currentPage === 1">
              <button class="page-link" (click)="goToPage(currentPage - 1)">
                <i class="bi bi-chevron-left"></i>
              </button>
            </li>

            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
              [class.active]="currentPage === i + 1">
              <button class="page-link" (click)="goToPage(i + 1)">
                {{ i + 1 }}
              </button>
            </li>

            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <button class="page-link" (click)="goToPage(currentPage + 1)">
                <i class="bi bi-chevron-right"></i>
              </button>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <button class="page-link" (click)="goToPage(totalPages)">
                <i class="bi bi-chevron-double-right"></i>
              </button>
            </li>
          </ul>
        </div>

      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <div class="sidebar m-0">
          <h4 class="sidebar-title">Choose Categories</h4>
          <div class="category-container">
            <ul class="category-list">
              <li *ngFor="let category of allCategoriesBlogs" [class.active]="category === selectedCategory"
                (click)="selectCategory(category)" class="category-item">
                <span>{{ category | titlecase }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ng-container *ngIf="selected_btn==2">
    <div class="container py-1">
      <h3 class="section_title p-0 text-center mb-4">
        <span class="decor"></span>
        VIDEOS
        <span class="decor right"></span>
      </h3>
      <div class="row g-4">
        <div class="col-12 col-sm-6 col-lg-3" *ngFor="let testimonial of testimonials; let idx = index">
          <div class="card h-100 shadow-sm border-0 rounded-4 overflow-hidden position-relative">
            <!-- Fixed-height video wrapper -->
            <div class="video-embed-wrapper">
              <div *ngIf="!isVideoPlaying(idx)" class="video-thumbnail" (click)="playVideo(idx)">
                <img [src]="'https://img.youtube.com/vi/' + testimonial.thumbnailUrl + '/maxresdefault.jpg'"
                  class="w-100 h-100 object-fit-cover" [alt]="'Video thumbnail for ' + testimonial.thumbnailUrl" />
                <div class="play-button">&#9654;</div>
              </div>
              <div *ngIf="isVideoPlaying(idx)" class="video-iframe-container">
                <iframe [src]="testimonial.videoUrl | videoUrl:true"
                  allow="autoplay; encrypted-media; fullscreen; picture-in-picture; accelerometer; gyroscope; clipboard-write; web-share"
                  allowfullscreen webkitallowfullscreen mozallowfullscreen frameborder="0" title="YouTube video player"
                  referrerpolicy="strict-origin-when-cross-origin">
                </iframe>
              </div>
            </div>
            <!-- Content -->
            <div class="card-body">
              <h6 class="card-title mb-1">{{ testimonial.name }}</h6>
              <small class="text-muted">{{ testimonial.profession }}</small>
              <p class="card-text mt-2">{{ testimonial.text }}</p>
            </div>
            <div class="card-footer text-muted small">
              {{ testimonial.date }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</section>
<app-footer></app-footer>