<app-header></app-header>
<section class="bg-white m-0 p-0">
    <div class="container">
        <div class="text-center py-5">
            <img src="assets/images/thank_you_icon.svg" alt="">
            <h5 class="thank">Thank <span class="you">You</span></h5>
            <h1>
            </h1>
            <p class="text-center m-0" style="font-size:30px; font-weight:700">
                Your form was submitted successfully
            </p>
            <p class="text-center" style="font-size:25px">Our team will get back to you shortly.</p>
            <button class="btn_bg mt-5" (click)="goToHome()">Go To Home Page</button>
        </div>
    </div>
</section>
<app-footer></app-footer>