<app-header></app-header>
<section class="bg-white m-0 p-0">
    <div class="container">
        <div class="text-center py-5">
            <img src="assets/images/thank_you_icon.svg" alt="">
            <h5 class="thank">Thank <span class="you">You</span></h5>
            <p class="m-0 p_txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem IpsumLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            <button class="btn_bg mt-5" (click)="goToHome()">Go To Home Page</button>
        </div>
    </div>
</section>
<app-footer></app-footer>