<app-header></app-header>
<section class="bg-white">
    <section class="pt-5 pb-2 text-center">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center mb-3">
                <div class="d-flex justify-content-center">
                    <h2 class="position-relative d-inline-block px-3 h_txt">
                        <img class="me-1" src="assets/health_checkup/dots_left.svg" alt="">
                        Our Empanelments
                        <img class="ms-1" src="assets/health_checkup/dots_right.svg" alt="">
                    </h2>
                </div>
            </div>

            <p class="p_txt mx-auto px-2">
                We partner with a wide range of leading insurance providers, third-party administrators (TPAs),
                corporates and government health schemes to ensure patients receive the medical care they need without
                financial stress.
                These empanelments enable eligible patients to access cashless treatments and hassle-free claims, making
                their healthcare journey smoother and more affordable. Our dedicated insurance helpdesk is available at
                all branches to assist with documentation, approvals and clarifications. So you can focus on your
                recovery, not the paperwork.
            </p>
        </div>
    </section>

    <section>
        <div class="container-fluid p-5 pt-0">
            <div class="insurance_border p-3">
                <div class="row g-3 justify-content-start py-3">
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-1-5" *ngFor="let logo of logos">
                        <div class="logo-card text-center">
                            <img [src]="'assets/omni_insurance_logos/' + logo" alt="insurance logo" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section>
        <div class="container-fluid mb-2">
            <div class="section-title-wrapper px-4">
                <div class="section-title px-1">Our Health Insurance & TPAS</div>
                <div class="section-line"></div>
            </div>

            <div class="row g-5 px-5">
                <!-- Health Insurance Column -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="custom-box">
                        <div class="box-title">Health Insurance</div>
                        <ul class="insurance-list pt-3">
                            <li>ABHI</li>
                            <li>Care Health Insurance</li>
                            <li>Chola MS</li>
                            <li>Future Generali</li>
                            <li>Go Digit General Insurance Limited</li>
                            <li>HDFC</li>
                            <li>ICICI</li>
                            <li>IFFCO TOKIO</li>
                            <li>L & T General Insurance Company Limited</li>
                            <li>Liberty General Insurance</li>
                            <li>NIVA BUPA HEALTH INSURANCE</li>
                            <li>RELIANCE GENERAL (Online)</li>
                            <li>SBI General Insurance</li>
                            <li>Star_shpv</li>
                            <li>TATA AIG</li>
                            <li>UNIVERSAL SOMPO GENERAL INSURANCE COMPANY</li>
                            <li>ORIENTAL INSURANCE</li>
                            <li>NATIONAL INSURANCE</li>
                            <li>THE NEW INDIA ASSURANCE CO. LTD</li>
                            <li>UNITED INDIA INSURANCE COMPANY LTD</li>
                        </ul>
                    </div>
                </div>

                <!-- TPAS Column -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="custom-box">
                        <div class="box-title">TPAS</div>
                        <ul class="insurance-list pt-3">
                            <li>Alankit Health Care TPA Limited</li>
                            <li>Care Health Insurance</li>
                            <li>ERICSON TPA HEALTH CARE PVT.LTD</li>
                            <li>Genins India TPA Ltd</li>
                            <li>Good Healthplan Ltd</li>
                            <li>Health India TPA</li>
                            <li>Health Insurance TPA of India Ltd.</li>
                            <li>Heritage</li>
                            <li>MD India Healthcare (TPA) Services Pvt. Ltd.</li>
                            <li>Med Save Health Care TPA Ltd.</li>
                            <li>MEDIASSIST</li>
                            <li>Medvantage Insurance TPA Private Limited</li>
                            <li>PARAMOUNT HEALTH (Online)</li>
                            <li>Park Mediclaim TPA Private Ltd.</li>
                            <li>Raksha</li>
                            <li>Safeway TPA Services Pvt. Ltd.</li>
                            <li>VIDAL</li>
                            <li>Volo Health Insurance Tpa Private Limited</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid mb-2">
            <div class="section-title-wrapper px-4">
                <div class="section-title">Companies we are Empanelled With</div>
                <div class="section-line"></div>
            </div>

            <div class="row g-5 px-5">
                <!-- Health Insurance Column -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="custom-box">
                        <div class="box-title">Public Companies List:</div>
                        <ul class="insurance-list pt-3">
                            <li>ORIENTAL INSURANCE</li>
                            <li>NATIONAL INSURANCE</li>
                            <li>THE NEW INDIA ASSURANCE CO. LTD</li>
                            <li>UNITED INDIA INSURANCE COMPANY LTD</li>
                        </ul>
                    </div>
                </div>

                <!-- TPAS Column -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="custom-box">
                        <div class="box-title">Private Companise:</div>
                        <ul class="insurance-list pt-3">
                            <li>ABHI</li>
                            <li>Care Health Insurance</li>
                            <li>Chola MS</li>
                            <li>ERICSON TPA HEALTH CARE PVT.LTD</li>
                            <li>Future Generali</li>
                            <li>Go Digit General Insurance Limited</li>
                            <li>HDFC</li>
                            <li>ICICI</li>
                            <li>IFFCO TOKIO</li>
                            <li>L & T General Insurance Company Limited</li>
                            <li>Liberty General Insurance</li>
                            <li>NIVA BUPA HEALTH INSURANCE</li>
                            <li>RELIANCE GENERAL (Online)</li>
                            <li>SBI General Insurance</li>
                            <li>Star_shpv</li>
                            <li>TATA AIG</li>
                            <li>UNIVERSAL SOMPO GENERAL INSURANCE COMPANY</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-title-wrapper px-4">
            <div class="section-title px-4">FAQ’s</div>
            <div class="section-line"></div>
        </div>
        <div class="px-4">
            <h2 class="quetion_faq px-4">What is empanelment in a hospital?</h2>
            <p class="answer_faq px-4">Empanelment refers to the hospital's tie-up with insurance companies, TPAs,
                corporates, or
                government health schemes to offer cashless or reimbursable medical services to eligible patients.</p>
            <h2 class="quetion_faq px-4">How do I know if my insurance is accepted at your hospital?</h2>
            <p class="answer_faq px-4">You can check the list of empanelled partners on this page or call our insurance
                helpdesk. Our team will verify your insurance provider and guide you through the eligibility process.
            </p>
        </div>
    </section>
</section>
<app-footer></app-footer>