<app-header></app-header>
<ng-container>
  <section class="bg-white">
    <div class="container">
      <ng-container *ngIf="selectedDepartment">
        <div class="row pt-5">
          <!-- Left Card Section -->
          <div class="col-lg-7 col-md-12 mb-4">
            <div class="card">
              <img [src]="selectedDepartment['img']" class="border_rad" alt="Medical Image" height="" width="">
              
            </div>
          </div>
          <!-- Right Enquiry Form -->
          <div class="col-lg-5 col-md-12 d-flex flex-column align-items-center">
            <div class="text-center w-100 mt-5">
              <h5
                class="text-black fw-bold text-center position-relative d-flex align-items-center justify-content-center">
                <span class="border-line me-2"></span> ENQUIRY <span class="border-line ms-2"></span>
              </h5>
            </div>

            <!-- Form -->
            <form class="card p-4 form-card w-100" #enquiryForm="ngForm">
              <div class="mb-3 position-relative">
                <input type="text" class="form-control floating-input" name="fullName" placeholder=" "
                  [(ngModel)]="enquiry.fullName" required>
                <label class="floating-label">Full Name</label>
              </div>

              <div class="mb-3 position-relative">
                <input type="tel" class="form-control floating-input" name="phoneNumber" placeholder=" "
                  [(ngModel)]="enquiry.phoneNumber" required>
                <label class="floating-label">Phone Number</label>
              </div>

              <div class="mb-3 position-relative">
                <input type="email" class="form-control floating-input" name="emailId" placeholder=" "
                  [(ngModel)]="enquiry.emailId">
                <label class="floating-label">Email ID</label>
              </div>

              <!-- Non-editable Department -->
              <div class="mb-3 position-relative">
                <input type="text" class="form-control floating-input" [value]="getDepartmentName()" readonly>
              </div>

              <!-- Submit Button -->
              <div class="text-center w-100 my-4" (click)="submitEnquiry()">
                <button type="submit" class="btn btn-outline-dark px-5 py-1 submit-btn">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="card-body">
              <h4 class="titile_txt">{{ selectedDepartment.name }}</h4>
              <ng-container *ngFor="let desc of selectedDepartment.details">
                <h5 [innerHTML]="desc.title"></h5>
                <h6 *ngIf="desc.subtitle" [innerHTML]="desc.subtitle"></h6>
                <p [innerHTML]="desc.description"></p>
                <ng-container *ngIf="desc.para">
                <p *ngFor="let desc_para of desc.para" [innerHTML]="desc_para"></p>
              </ng-container>
                <ul>
                  <li *ngFor="let item of desc.list" [innerHTML]="item"></li>
                </ul>
                <ng-container *ngFor="let sec of desc?.sections">
                  <h6>{{sec.subtitle}}</h6>
                  <p class="m-0">{{sec.heading}}</p>
                  <p [innerHTML]="sec?.description | newlineToBr"></p>
                  <ul>
                    <li *ngFor="let item of sec.list">{{item}}</li>
                  </ul>
                </ng-container>
                <p>{{desc.conclusion}}</p>
              </ng-container>
  
            </div>
          </div>

        </div>
        <ng-container *ngIf="selectedDepartment?.sub_departments">
          <section>
            <div class="row pt-4">
              <div class="col-lg-5 col-md-12">
                <ng-container *ngFor="let sub_dept of selectedDepartment.sub_departments">
                  <h5 class="ps-2" (click)="onSelectSubDept(sub_dept.name)" [ngClass]="{'active-subdept': selectedSubDept === sub_dept.name}">{{ sub_dept.name }}</h5>
                </ng-container>
              </div>

              <div class="col-lg-7 col-md-12 d-flex flex-column align-items-start">
                <ng-container *ngFor="let sub_dept of selectedDepartment.sub_departments">
                  <ng-container  *ngFor="let sub_dept of sub_dept.details">
                    <h5 [innerHTML]="sub_dept.title"></h5>
                    <p *ngIf="sub_dept.description" [innerHTML]="sub_dept.description"></p>

                    <ng-container *ngFor="let data of sub_dept.sections">
                      <h6 *ngIf="data?.subtitle" [innerHTML]="data?.subtitle"></h6>
                      <p  *ngIf="data?.description" [innerHTML]="data?.description"></p>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <h5>{{subDepartmentData.name}}</h5>
                <p *ngIf="subDepartmentData?.title" [innerHTML]="subDepartmentData.title"></p>
                <p *ngIf="subDepartmentData?.subtitle" [innerHTML]="subDepartmentData?.subtitle"></p>
                <p *ngIf="subDepartmentData?.description" [innerHTML]="subDepartmentData?.description"></p>
                <ng-container *ngFor="let ques of subDepartmentData?.sections">
                  <h6 class="text-align-left" [innerHTML]="ques.subtitle"></h6>
                  <p [innerHTML]="ques?.description"></p>
                  <p *ngFor="let para of ques?.para" [innerHTML]="para"></p>
                  <ul>
                    <li *ngFor="let list of ques?.list" [innerHTML]="list"></li>
                  </ul>
                  <ng-container *ngIf="ques.sub_para">
                    <p *ngFor="let para of ques.sub_para" [innerHTML]="ques.sub_para"></p>

                  </ng-container>
                </ng-container>
              </div>
            </div>
          </section>

        </ng-container>
      </ng-container>
    </div>
  </section>
</ng-container>



<!-- <div class="row">
  <div class="col-md-4">
    <div *ngFor="let dept of filteredDepartments" class="mb-2 p-2 department-item">
      <div *ngFor="let sub of dept.sub_departments"
           (click)="onSubDepartmentSelect(sub)"
           class="p-2 sub-department-item"
           [class.active]="sub.id === selected_dep">
        {{ sub.name }}
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <h3 class="sub_section_heading">
      {{ selectedSubDepartment?.title || selectedSubDepartment?.name }}
    </h3>
    <p class="sub_section_description">{{ selectedSubDepartment?.subtitle }}</p>
    <p class="sub_section_description">{{ selectedSubDepartment?.description }}</p>

    <div *ngIf="selectedSubDepartment?.types" class="mb-3">
      <h4>{{ selectedSubDepartment.types.title }}</h4>
      <ul>
        <li *ngFor="let item of selectedSubDepartment.types.list">{{ item }}</li>
      </ul>
    </div>

    <div *ngIf="selectedSubDepartment?.procedure" class="mb-3">
      <h4>{{ selectedSubDepartment.procedure.title }}</h4>
      <ul *ngIf="selectedSubDepartment.procedure.steps">
        <li *ngFor="let step of selectedSubDepartment.procedure.steps">{{ step }}</li>
      </ul>
      <p *ngIf="selectedSubDepartment.procedure.description">
        {{ selectedSubDepartment.procedure.description }}
      </p>
    </div>

    <div *ngIf="selectedSubDepartment?.benefits" class="mb-3">
      <h4>{{ selectedSubDepartment.benefits.title }}</h4>
      <ul>
        <li *ngFor="let item of selectedSubDepartment.benefits.list">{{ item }}</li>
      </ul>
    </div>

    <p *ngIf="selectedSubDepartment?.conclusion">{{ selectedSubDepartment.conclusion }}</p>
  </div>
</div> -->



<app-footer></app-footer>