<div class="video-container" (click)="!videoPlayed && playVideo()" 
     [style.width.px]="aspectRatio ? null : width" 
     [style.width.%]="aspectRatio ? 100 : null"
     [style.height.px]="aspectRatio ? null : height"
     [style.aspect-ratio]="aspectRatio">
  <!-- Thumbnail -->
  <ng-container *ngIf="!videoPlayed">
    <img class="thumbnail" 
         [src]="'https://img.youtube.com/vi/' + thumbnailUrlId + '/hqdefault.jpg'"
         [alt]="'Video thumbnail for ' + thumbnailUrlId" />
    <div class="play-button"></div>
  </ng-container>

  <!-- YouTube player (inserted dynamically) -->
  <div *ngIf="videoPlayed" 
       [id]="uniqueId"
       #playerContainer
       class="youtube-player-container"></div>
</div>
  