<div class="video-wrapper">
  <!-- Thumbnail with Play Button -->
  <div *ngIf="!videoPlayed" class="video-thumbnail" (click)="playVideo()">
    <img [src]="'https://img.youtube.com/vi/' + thumbnailUrl+ '/maxresdefault.jpg'"
      class="w-100 h-100 object-fit-cover" [alt]="'Video thumbnail for ' + thumbnailUrl" />
    <div class="play-button">▶</div>
  </div>

  <!-- YouTube Video Embed (Only when Played) -->
  <div *ngIf="videoPlayed" class="video-iframe-container">
    <iframe class="w-100 h-100 border-0"
      [src]="getUnmutedVideoUrl(videoUrl)"
      allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>
  </div>
<!-- 
  <app-video-player 
    [videoUrl]="testimonial.videoUrl" 
    [thumbnailUrlId]="testimonial.thumbnailUrl"
    [width]="300" 
    [height]="200"
    [aspectRatio]="'16/9'"
    [(videoPlayed)]="testimonial.videoPlayed" 
    (videoStarted)="onVideoPlay(idx)"
    (videoStopped)="onVideoPauseOrEnd(idx)">
  </app-video-player> -->
</div>